<footer class="site-footer">
    <div class="container">

        <!-- Footer Top
        ============================================= -->
        <div class="footer-top">
            <div class="logo-footer wow fadeIn">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </div>
            <p class="thetitle">素材在精而不再多</p>
            <p class="subtitle-footer wow fadeIn">
                关于本站 | xxxx | xxxx | 版权投诉
            </p>
            <a href="https://portfolio.zyzypy.com"  target="_blank" class="btn wow fadeIn">关于我</a>
            <!--<div class="footer-social">
                <ul class="social-profile">
                    <li class="twitter"><a href="#"><i class="icon icon-social-twitter"></i></a></li>
                    <li class="facebook"><a href="#"><i class="icon icon-social-facebook"></i></a></li>
                    <li class="youtube"><a href="#"><i class="icon icon-social-youtube"></i></a></li>
                    <li class="dribble"><a href="www.dribbble.com"><i class="icon icon-social-dribbble"></i></a></li>
                </ul>
            </div>-->
        </div>
        <!-- footer-top end -->
    </div>
    <!-- container -->

    <!-- Footer Bottom
    ============================================= -->
    <div class="footer-bottom clearfix ">
        <div class="copyright-footer">
            <p>Copyright &#169; 2015<a href="https://zyzypy.com">哇哦UI</a></p>
            <p><a target="_blank" href="http://www.miitbeian.gov.cn">豫ICP备16021043号</a></p>
        </div>
    </div>
    <!-- footer-bottom end -->

</footer>