<!-- external模板自带 plugin含瀑布流等插件 -->
<script type="text/javascript" src="{{ url_for('static', filename='js/plugin.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

{#已失效#}
{#<!--cnzz友盟统计 1owo.com-->#}
{#<script type="text/javascript">#}
{#    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1260334813'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/stat.php%3Fid%3D1260334813' type='text/javascript'%3E%3C/script%3E"));#}
{#    document.getElementById("cnzz_stat_icon_1260334813").style.display = "none";/*去 站长统计 文字*/#}
{#</script>#}
{#<!--cnzz END-->#}